@charset "UTF-8";


.fa-bars{
	font-size: 1.5em;
}

.header{
	top:0;
	height:7em;
	padding: 2em;
	
}
.title{
	font-size:2em;
	margin-left:0.5em;
}
.profile-img{
	position:fixed;
	right:0;
}

.fa-user-circle{
	font-size: 1.5em;
}

.user-name{
	padding: 0.5em;
}

.button{
	float: right;
}

